server:
  port: 8082

spring:
  application:
    name: post-service
  datasource:
    url: jdbc:mysql://localhost:3306/Microservices
    username: root
    password: root@1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
